<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<br>
<br>
<br>

<center><h2>Text To Speech Converter</h2>
<br>
    <br>


<form action=" {% url 'secondPage' %} ">


    <input type="file" class="btn btn-info">
<br>
    <br>
    <textarea id="myText" name="myText" rows="1" cols="50">
</textarea>

    <br>

    <p>:) <sup> Metninizi buraya yazın/yapıştırın ya dosyanızı yükleyin</sup></p>



    <br>
    <br>

  <input type="submit" value="Convert Text To Speech" class="btn btn-primary">


</form>
<br>
    <br>

    <br>

    <br>
<br>
<br>
    <br>
    <br>
    <br>


    <p>by <sup> Bedirhan Büyüköz</sup></p>
</center>
